* {
    margin: 0;
    padding: 0;
  }

body, html {
        width: 99%;
        height: 90%;
    }

    textarea {
        border: none;
        overflow: auto;
        outline: none;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    textarea {
        margin-left: 25%;
        margin-right: 25%;
        /*margin-top: 100px;*/
        width: 49%;
        max-height: 1000%;
        line-height: 30px;
        font-size: 20px;
        font-weight: 400 !important;

        resize: none;
        
        overflow: hidden;

        text-align: justify;
    }

    textarea:focus, input:focus{
        outline: 0;
    }

    h1 {
        text-align: center;
        font-family: 'Inconsolata', cursive;
    }

    h1 > i {
        font-size: 20px;
    }